.navbar
{
    background-color: #2C3E4A;
    font-family: 'Staatliches', cursive;
}

.navbar-nav > li > a
{
    color: #EFAF29;
}

/********** NAVBAR **********/

.navbar-nav > li > .dropdown-menu
{
    background-color: #2C3E4A;
}

.navbar-nav > li > .dropdown-menu a
{
    color: #EFAF29;
}

.navbar-nav .navbar-toggle {
    color: #EFAF29;
}

.fa-bars{
    color: #EFAF29;
}

/********** FIN NAVBAR **********/

/********** MAIN **********/

main{
    color: #272727;
    background-color: #e2e2d5;
}

.pres{
    font-weight: bold;
}

hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

/********** FIN MAIN **********/

/********** FOOTER **********/

footer{
    background-color: #2C3E4A;
    color: #f3e86a;
}

/********** FIN FOOTER **********/
